html, body {
	margin: 0;
	padding: 0;
	}
div {
 background-image: https://duckduckgo.com/?q=photo&t=ffab&atb=v231-1&iar=images&iax=images&ia=images&iai=https%3A%2F%2Fi.ytimg.com%2Fvi%2FEWYnStXlCVE%2Fmaxresdefault.jpg;
}

body {
	background: #08083f;
    color: #ffff00;
	background-image: https://duckduckgo.com/?q=photo&t=ffab&atb=v231-1&iar=images&iax=images&ia=images&iai=https%3A%2F%2Fi.ytimg.com%2Fvi%2FEWYnStXlCVE%2Fmaxresdefault.jpg;


	font-family: 'Montserrat', Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, SimSun, sans-serif;
	font-weight: 400;
    font-size: 21px;
	-webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, p {
    margin: 0;
    padding: 0.25em 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.875em;
    font-weight: normal;
}

h3 {
	font-size: 1.5em;
	text-align: center;
}

h4 {
	text-align: left;
	padding-left: 10%;
	padding-right: 10%;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: #689396;
}


section {
    display: table;
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;

    padding: 75px 15px;
}

section div.Wrapper {
    display: table-cell;
    vertical-align: middle;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: 0;
}

section h3,
section p,
section code {
    display: block;
    width: 98%;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 0 25px 0;

    line-height: 1.4em;
    color: inherit;
}

section p {
    display: block;
    width: 98%;
    max-width: 680px;
    margin: 0 auto;
    padding: 0 0 25px 0;

    line-height: 1.4em;
    color: inherit;
}

section h3 {
    margin: 45px auto 0 auto;
}

section p span {
    display: inline-block;
    position: relative;
    top: -2px;
    padding: 0 5px;

    background: #689396;

    font-family: monospace;
    font-size: 14px;
    color: #132580;
}

section code {
    padding: 15px;

    background: #689396;
    color: #fff;
    font-size: 14px;
}

section code span {
    opacity: 0.6;
}

section.Intro {
    color: whitesmoke;
}

section.Intro h2 {
    color: rgba(160, 187, 189, 0.8);
}

section.About {
    color: #132580;
    background: whitesmoke;
}

section.Examples {
    background: #fff;
    color: #689396;
}

.CenterAlign {
    text-align: center;
}

div.Wrapper {
    position: relative;
    width: 96%;
    max-width: 680px;
    margin: 0 auto;

    z-index: 1;
}

div.MouseScroll {
    position: absolute;
    left: 50%;
    bottom: 25px;
    width: 100px;
    height: 100px;
    margin: 0 0 0 -50px;

    z-index: 2;
}

path.MouseScroll--chevron {
	animation: ChevronAnimation 3s ease infinite;
	transform: translateY(3px)
}

[data-slideInLeft].visible, [data-slideInLeft].invisible,
[data-slideInRight].visible, [data-slideInRight].invisible ,
[data-slideInBottom].visible, [data-slideInBottom].invisible {
    opacity: 1.0;
    transform: translate(0, 0);
    transition: transform 0.8s ease, opacity 0.8s ease;
}

[data-slideInLeft].invisible {
    opacity: 0.0;
    transform: translate(10px, 0);
}

[data-slideInRight].invisible {
    opacity: 0.0;
    transform: translate(-10px, 0);
}

[data-slideInBottom].invisible {
    opacity: 0.0;
    transform: translate(0, 10px);
}

@keyframes ChevronAnimation {
	0% {
		transform: translateY(3px);
		opacity: 1
	}
	50% {
		transform: translateY(8px);
		opacity: 0
	}
	60% {
		transform: translateY(3px);
		opacity: 0
	}
}

body
	{
	  margin: 0;
	  padding: 0;
	  
	  /* make it look decent enough */
	  background: #232323;
	  color: #cdcdcd;
	  font-family: "Avenir Next", "Avenir", sans-serif;
	}
	
	#menuToggle
	{
	  display: block;
	  position: relative;
	  top: 50px;
	  left: 50px;
	  
	  z-index: 1;
	  
	  -webkit-user-select: none;
	  user-select: none;
	}
	
	#menuToggle a
	{
	  text-decoration: none;
	  color: #132580;
	  
	  transition: color 0.3s ease;
	}
	
	#menuToggle a:hover
	{
	  color: whitesmoke;
	}
	
	
	#menuToggle input
	{
	  display: block;
	  width: 40px;
	  height: 32px;
	  position: absolute;
	  top: -7px;
	  left: -5px;
	  
	  cursor: pointer;
	  
	  opacity: 0; 
	  z-index: 2; 
	  
	  -webkit-touch-callout: none;
	}

	#menuToggle span
	{
	  display: block;
	  width: 33px;
	  height: 4px;
	  margin-bottom: 5px;
	  position: relative;
	  
	  background: whitesmoke;
	  border-radius: 3px;
	  
	  z-index: 1;
	  
	  transform-origin: 4px 0px;
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
				  opacity 0.55s ease;
	}
	
	#menuToggle span:first-child
	{
	  transform-origin: 0% 0%;
	}
	
	#menuToggle span:nth-last-child(2)
	{
	  transform-origin: 0% 100%;
	}
	
	#menuToggle input:checked ~ span
	{
	  opacity: 1;
	  transform: rotate(45deg) translate(-2px, -1px);
	  background: whitesmoke;
	}

	#menuToggle input:checked ~ span:nth-last-child(3)
	{
	  opacity: 0;
	  transform: rotate(0deg) scale(0.2, 0.2);
	}
	

	#menuToggle input:checked ~ span:nth-last-child(2)
	{
	  transform: rotate(-45deg) translate(0, -1px);
	}
	

	#menu
	{
	  position: absolute;
	  width: 300px;
	  margin: -100px 0 0 -50px;
	  padding: 50px;
	  padding-top: 125px;
	  color : #132580
	  background: whitesmoke;
	  list-style-type: none;
	  -webkit-font-smoothing: antialiased;
	  /* to stop flickering of text in safari */
	  
	  transform-origin: 0% 0%;
	  transform: translate(-100%, 0);
	  
	  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	#menu a
	{
		background-color: whitesmoke;
	}
	
	#menu li
	{
	  padding: 35px 0;
	  font-size: 22px;
	}

	#menuToggle input:checked ~ ul
	{
	  transform: none;
	}
